*{
    padding: 0;
    margin: 0;
    color: rgb(22, 22, 22);
}

html {
    scroll-behavior: smooth;
}

.section-about{
    position:relative;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about{
    text-align: center;
    width: 100%;
}

.about h2{
    font-size: 30px;
    color: #182944;
    font-family: Georgia;
}

.about p{
    color: #182944;
}

.columns{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.items{
    margin: 10px;
    padding: 20px;
    padding-top: 50px;
    text-align: center;
}

.items p{
    height: 100px;
    width: 250px;
    margin-left: 35px;
    text-align: justify;
}

.columns h5{
    font-size: 18px;
    color: palevioletred;
    padding-left: 40px;
}

@media screen and (max-width: 768px) {
    .items {
        width: 90%;
        padding-top: 20px;
        text-align: center;
    }
    .h1st{
        text-align: center;
    }
}

