.section-contactUs {
    position: relative;
    height: 390px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.contactUs {
    position: relative;
    z-index: 1;
    text-align:right;
    padding-right: 198px;
    font-size: 10px;
    color: white;
}

.contactUs h2{
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contactUs input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    margin-right: 15px;
    color: black;
    text-align:left ;
    margin-bottom: 12px;
}

.contactUs input[placeholder="Message"] {
    height: 70px;
}

#submitt{
    padding: 10px 20px;
    background-color: #326dcc;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.contactUs a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 5px 10px;
    padding-top: 6px;
    font-family: math;
    border: 2px solid #4f81b0;
    border-radius: 6px;
    background-color: #4f81b0;
    margin-right: 15px;
}